<mat-card class="observation">
  <div class="observation_sha">
      <div><mat-checkbox>P</mat-checkbox></div>
      <div><mat-checkbox>E</mat-checkbox></div>
      <div><mat-checkbox>0</mat-checkbox></div>
  </div>
  <div class="observation_obs">
      <div><mat-checkbox>bef-pat</mat-checkbox></div>
      <div><mat-checkbox>bef-asept</mat-checkbox></div>
      <div><mat-checkbox>aft-bfluid</mat-checkbox></div>
      <div><mat-checkbox>aft-pat</mat-checkbox></div>
      <div><mat-checkbox>aft-surr</mat-checkbox></div>
  </div>
  <div class="observation_ind">
      <div><mat-checkbox>r</mat-checkbox></div>
      <div><mat-checkbox>W</mat-checkbox></div>
      <div><mat-checkbox>no-act</mat-checkbox></div>
      <div><mat-checkbox>gloves</mat-checkbox></div>
      <div><mat-checkbox>scm</mat-checkbox></div>
  </div>
  <!-- <span class="subject-indicator" matBadge="{{subject}}" matBadgeOverlap="false"></span> -->
  <span class="observation-indicator" matBadge="{{observation}}" matBadgeOverlap="false"></span>
</mat-card>